html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.wrapper{
  min-height: 100%;

  #header{
    background: $color1;
    color: #fff;
    box-shadow: 0 0 5px 0 rgba(50,50,50,0.75);

    a{
      font-size: 16px;
      margin: 0;
      text-decoration: none;
      display: inline-block;
      padding: 10px;
      border: none;
      outline: none;
      color: #fff;
    }
  }

  #content{
    overflow:auto;
    padding-bottom:150px;
  }
}

#footer {
  position: relative;
  margin-top: -40px;
  height: 20px;
  clear: both;
  padding: 10px 0;
  border-top: 1px solid #f1f1f1;
}
