#searchForm{
  background: #fff;
  padding: 10px;
  border: 1px solid #f1f1f1;
  margin-top: 20px;

  .typeName{
    padding: 5px 10px;
    margin: 0;
    background: $brand-primary;
    color: #fff;
    display: inline-block;
  }
  .typeDescription{
    color: #333;
    padding: 5px 10px;
  }
}

.searchResults{
  .airportFlights{
    margin-bottom: 30px;
  }
  .flight{
    padding: 10px;
    border: 1px solid #f1f1f1;
    border-top: 3px solid $color1;
    margin-bottom: 15px;
  }
}